@model IEnumerable<Book_Store.Models.Books>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Activity_Book";
}

<h1>Activity_Book</h1>
<br/><br/>
@foreach (var item in Model)
{
<div class="card">
    <div class="container">
        <h2 class="card-title">
            @Html.DisplayFor(modelItem => item.Name)
        </h2>
        <h6 class="card-subtitle mb-2 text-muted">
            Author: @Html.DisplayFor(modelItem => item.Author)
        </h6>
        <h6 class="card-subtitle mb-2 ">
            Type: @Html.DisplayFor(modelItem => item.Book_Type)
        </h6>

        <h6 class="card-subtitle mb-2">
            Cost: @Html.DisplayFor(modelItem => item.Cost) ₹
        </h6>

        <p class="card-text">
            <b>About:</b> @Html.DisplayFor(modelItem => item.Discription)
        </p>

        @using (Html.BeginForm("AddCart", "Home", new { Id = item.Book_Id, user = @httpContextAccessor.HttpContext.Session.GetString("User"), price = item.Cost }, FormMethod.Post))
        {
            <button class="btn btn-success">Add to Cart</button>
        }
    </div>
</div>
<br/>
}

